@model IEnumerable<Dominio.Entities.Pessoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/lib/DataTables/media/css/jquery.dataTables.css" />
}
<div class="card-block">
    <div class="card-header text-white bg-primary text-center h1">
        Instituições Registradas
    </div>
    <div class="card-body">
        <table id="tabela_pessoas">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PessoaID)</th>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.Observacao)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PessoaID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.Observacao)</td>
                    <td></td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PessoaID">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.PessoaID">Detalhar</a>
                        <a asp-action="Delete" asp-route-id="@item.PessoaID">Deletar</a>
                    </td>
                </tr>

                }
            </tbody>
        </table>

    </div>
    <div class="card-footer bg-success text-center">
        <a asp-action="Create" class="btn-success">Criar uma nova instituição</a>
    </div>
</div>
@section ScriptPage{
    <script type="text/javascript" src="~/lib/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_pessoas').DataTable();

        })
    </script>
}
